---
const {
    borderClasses = [],
    bgClasses = [],
    text = ''
} = Astro.props

if (!borderClasses.some((el = '') => el.startsWith('bg-'))) {
    borderClasses.push('bg-blue-500');
}
if (!bgClasses.some((el = '') => el.startsWith('bg-'))) {
    bgClasses.push('bg-white');
}
if (!bgClasses.some((el = '') => el.startsWith('text-'))) {
    bgClasses.push('text-black');
}

---
<div class="m-4 p-1 rounded-2xl col-span-1" class:list={borderClasses}>
    <div class="p-4 rounded-[calc(1rem-4px)] flex flex-col h-full" class:list={bgClasses}>
        <div class="flex h-min-content pt-2 pb-5 px-3 grow-0">
            <slot name="heading" />
        </div>
        <div class="px-3 pb-3 flex flex-col justify-between overflow-visible grow text gap-4">
            <p class="text-base lg:text-lg opacity-90 font-normal pb-4" set:html={text}></p>
            <div class="links">
                <slot name="links" />
            </div>
        </div>
    </div>
</div>