---
import '../base.css';

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Logo from '../components/Logo.astro';

---
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="MATE, the Mentorship and AI Technology Enhancer, is an AI-based companion for code review and development. MATE combines the wisdom of experienced mentors with the power of cutting-edge AI technology to provide you with unmatched insights into your code.">
    <title>MATE — Mentorship and AI Technology Enhancer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&display=swap" rel="stylesheet">
</head>

<body class="font-sans dark:bg-dark">
    <Header icon={Logo} />
    <slot />
    <Footer icon={Logo} />
    <div id="fullPageContainer" class="hidden fixed top-0 left-0 w-full h-full bg-white dark:bg-gray-700 z-[1000] overflow-y-scroll">
        <div class="relative h-full py-16 flex align-middle" data-modal-hide>
            <div class="container m-auto px-6 text-gray-500 md:px-12 xl:px-40" data-modal-hide>
              <div class="m-auto space-y-8 md:w-8/12 lg:w-6/12 xl:w-6/12">
                <div class="rounded-3xl border border-gray-100 bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl">
                    <div class="p-8 py-12 sm:p-16">
                        <div id="applicationHeader" class="flex justify-between mb-8 ">
                            <h2 class="font-bold text-gray-800 dark:text-white">Get your MATE</h2>
                            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide>
                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" data-modal-hide>
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" data-modal-hide/>
                                </svg>
                                <span class="sr-only">Close modal</span>
                            </button>
                        </div>
                        <!-- <img src="favicon.svg" loading="lazy" class="mx-auto w-12" alt="Mate logo" /> -->
                        <form action="" method="POST" class="space-y-8" id="applicationForm">
                            <div class="space-y-2">
                                <label for="firstName" class="text-gray-600 dark:text-gray-300">First Name</label>
                                <input
                                type="text"
                                name="firstName"
                                id="firstName"
                                autocomplete="given-name"
                                class="focus:outline-none block w-full rounded-md border border-gray-200 dark:border-gray-600 bg-transparent px-4 py-3 text-gray-600 transition duration-300 invalid:ring-2 invalid:ring-red-400 focus:ring-2 focus:ring-cyan-300"
                                />
                            </div>
                            <div class="space-y-2">
                                <label for="email" class="text-gray-600 dark:text-gray-300">Email</label>
                                <input
                                type="email"
                                name="email"
                                id="email"
                                autocomplete="username"
                                class="focus:outline-none block w-full rounded-md border border-gray-200 dark:border-gray-600 bg-transparent px-4 py-3 text-gray-600 transition duration-300 invalid:ring-2 invalid:ring-red-400 focus:ring-2 focus:ring-cyan-300"
                                />
                            </div>
                
                            <button type="submit" class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-gradient2 before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95">
                                <span class="relative text-base font-semibold text-white">Send</span>
                            </button>
                
                            <p class="border-t border-gray-100 dark:border-gray-700 pt-6 text-sm text-gray-500 dark:text-gray-400 text-center">
                                MATE <b>does not share</b> your code and personal data with third parties
                                <!-- <a href="#" class="text-primary">Sign up</a> -->
                            </p>
                        </form>
                        <div id="applicationResult" class="hidden text-center">
                            <div id="reqStatus" class="text-xl mb-4 text-gray-500"></div>
                            <a target="_blank" href="https://chat.openai.com/g/g-Kwd9HEBG2-code-mate" class="block w-full py-3s px-6 text-sm rounded-full text-gray-500 hover:text-gradient2 opacity-80 bg-transparent before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95">
                                Why not try the MATE&nbsp;GPT for&nbsp;now?
                            </a>
                        </div>
                    </div>
                    </div>
                    <div class="space-x-4 text-center text-gray-500">
                    <span>&copy; Artem Palevich</span>
                    <a href="mailto:hello@apalevich.com" class="text-sm hover:text-primary">Contact</a>
                    <!-- <a href="#" class="text-sm hover:text-primary">Privacy & Terms</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    const container = document.getElementById('fullPageContainer');
    const applicationForm = document.getElementById('applicationForm');
    const applicationResult = document.getElementById('applicationResult');
    
    applicationForm.addEventListener('submit', handleFormSubmit);
    
    document.querySelectorAll('[data-modal-show]')
    .forEach((el) => {
        el.addEventListener('click', function() {
            container.classList.remove('hidden');
        });
    });
    
    document.getElementById('fullPageContainer')
    .addEventListener('click', (event: MouseEvent) => {
        const target = event.target as Element;

        if (target && target.hasAttribute('data-modal-hide')) {
            hideContainer();
        }
    });

    function hideContainer () {
        container.classList.add('hidden');
        toggleBurgerMenu(false)
    }

    function toggleBurgerMenu (value = null) {
        const burgerMenu = document.getElementById('hbr') as HTMLInputElement;
        value !== null ? burgerMenu.checked = value : burgerMenu.checked = !burgerMenu.checked;
    };

    async function handleFormSubmit(e: SubmitEvent) {
        e.preventDefault();
        const data = new FormData(e.target as HTMLFormElement)

        setStatus('Sending...');
        const response = await sendData(data);

        if (response.status === 200) {
            setStatus('Your application successfully sent!');
            return;
        }

        setStatus('Something went wrong, sorry...');
    }

    async function sendData(data) {
        return await fetch('/backend/mate/submit-form', {
            method: 'POST',
            body: data,
        })
    };
    
    function setStatus(status) {
        const reqStatus = document.getElementById('reqStatus');
        reqStatus.innerText = status;
        applicationResult.classList.remove('hidden');
        applicationForm.classList.add('hidden');
    }
</script>