---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Home Page">
	<!-- HEADER -->
	<div class="fixed w-full backdrop-blur shadow-2xl shadow-gray-900/5 h-11 z-50">
		<div class="xl:container m-auto px-6 md:px-12 lg:px-6 h-full">
			<div class="flex items-center justify-between text-white h-full">
				<div class="text-black dark:text-white text-center text-2xl">
					<button class="dark:hidden" onclick=`document.documentElement.classList.add('dark')`>🌃</button>
					<button class="hidden dark:block" onclick=`document.documentElement.classList.remove('dark')`>🌁</button>
				</div>
				<!-- <div class="text-black dark:text-white text-center">Back to top</div> -->
				<!-- <div class="text-black dark:text-white text-center">
					<a href="https://cal.com/apalevich" target="_blank" class="font-mono text-xs uppercase border-2 px-2 py-1">Schedule a call</a>
					
				</div> -->
			</div>
		</div>
	</div>
	<!-- HERO -->

	<div class="min-h-screen md:min-h-[66vh] w-full py-11 flex justify-center flex-col items-center relative">
		<div class="lg:hidden">
			<img src="/portrait.jpg" class="w-20 md:w-40"/>
		</div>
		<div class="container px-6 pt-10 md:px-12 lg:py-0 lg:px-7">
			<div class="flex items-center flex-wrap gap-12 lg:gap-0">
				<div class="lg:w-5/12 space-y-8 text-center md:text-left">
					<span class="md:flex space-x-2">
						<span class="hidden md:block w-14 mb-2 border-b-2 border-gray-600 dark:border-gray-400 opacity-50"></span>
						<span class="font-medium text-gray-600 dark:text-gray-400 opacity-50 font-mono lowercase">Personal website</span>
					</span>
					<h1 class="text-4xl font-bold md:text-6xl text-mustard-500 dark:text-white">Artem Palevich</h1>
					<p class="text-xl text-gray-500 dark:text-gray-300 opacity-90">I am a software engineer skilled in building UI/UX, and data visualization, focusing on performance with a deep knowledge of JavaScript, HTML, CSS, React.js, Responsive and Adaptive Design.</p>
					
					<!-- <div class="flex space-x-4">
						<button type="button" title="Start buying" class="w-full py-3 px-6 text-center transition bg-gray-900 dark:bg-gray-700 hover:bg-gray-800 active:bg-gray-700 focus:bg-gray-800 sm:w-max">
							<span class="block text-white font-semibold">
								Shop now
							</span>
						</button>
						<button type="button" title="Start buying" class="group w-full py-3 px-6 text-center transition dark:active:bg-yellow-800 dark:focus:bg-yellow-900 active:bg-yellow-200 focus:bg-yellow-100 sm:w-max">
							<span class="block text-gray-700 dark:text-white font-semibold group-focus:text-yellow-700 dark:group-focus:text-yellow-100">
								Our showreel
							</span>
						</button>
					</div> -->
				</div>

				<div class="hidden relative lg:block lg:w-7/12">
					<div aria-hidden="true" class="absolute inset-0 m-auto w-[30rem] h-[30rem] rounded-full bg-yellow-200"></div>
					<img src="/portrait.jpg" class="w-1/2 relative ml-auto" alt="portrait">
				</div>
			</div>
		</div>
		<div class="absolute bottom-12 container m-auto px-6 flex flex-row-reverse items-end justify-between md:px-12 lg:px-7">
			<!-- <div class="hidden space-x-4 md:flex md:items-center">
				<img class="w-1/2 h-1/2 rounded-full object-cover" src="/portrait.jpg" alt="">
				<div class="text-gray-600 dark:text-gray-400">
					<span class="text-sm">Question ?</span>
					<p class="font-semibold text-gray-700 dark:text-gray-300">Talk to our assistant</p>
				</div>
			</div> -->
			<div class="text-blue-500">
				<a href="https://www.linkedin.com/in/apalevich/" target="_blank" class="text-link no-underline hover:text-mustard-500 dark:text-gray-300 dark:hover:text-red-400">LinkedIn </a>/
				<a href="https://github.com/apalevich" target="_blank" class="text-link no-underline hover:text-mustard-500 dark:text-gray-300 dark:hover:text-red-400">GitHub </a> /
				<a href="mailto:hello@apalevich.com" class="text-link no-underline hover:text-mustard-500 dark:text-gray-300 dark:hover:text-red-400">Email</a>
			</div>
		</div>
	</div>

	<!-- // SECTION WITH CARDS -->
	<div class="grid lg:grid-cols-3 md:px-8 md:mb-8">
		
		<!-- FRONTEND CARD -->
		<div class="col-span-2 m-4 p-1 rounded-2xl bg-gray-50">
			<div class="p-4 rounded-[calc(1rem-4px)] h-full">
				<div class="flex h-min-content pt-2 pb-5 px-3">
					<div class="flex-1">
						<h2 class="text-3xl font-semibold opacity-90">Senior Web Developer</h2>
						<p class="mt-1 text-sm font-normal opacity-40">React, Vue, Node.js, jQuery, Astro</p>
					</div>
				</div>
				<div class="px-3">
					<p class="text-sm opacity-90 font-normal pb-4">
						Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam esse accusamus commodi asperiores quis, nesciunt quidem blanditiis ratione debitis eveniet? Assumenda reiciendis odit ipsa. Aliquid, nihil modi? Atque, nisi perferendis.
					</p>
					<a class="text-link text-blue-500" href="" aria-label="Open in new tab">GitHub</a> /
					<a class="text-link text-blue-500" href="" aria-label="Open in new tab">LinkedIn</a>
				</div>
			</div>
		</div>
		<!-- MATE CARD -->
		<div class="col-span-2 lg:col-span-1 m-4 p-1 rounded-2xl bg-gradient-to-r from-mateblue to-mateviolet shadow-sm shadow-mateblue">
			<div class="p-4 rounded-[calc(1rem-4px)] flex flex-col h-full">
				<div class="flex h-min-content pt-2 pb-5 px-3 grow-0">
					<div class="appicon flex-0 bg-white bg-[url('/icon_gpt_mate.png')] "></div>
					<div class="flex-1 pl-4">
						<h2 class="text-xl font-semibold opacity-90 text-white">MATE</h2>
						<p class="mt-1 text-sm font-normal opacity-40 text-white">AI Code Review Tool</p>
					</div>
				</div>
				<div class="px-3 pb-3 flex flex-col justify-between overflow-visible grow text-white">
					<p class="text-sm opacity-90 font-normal pb-4">An AI-powered coding companion for flawless code review and mentoring. Zero-config and no API key required, just works as it is in your browser.</p>
					<a class="text-link text-white" aria-label="Open in new tab">
						Learn more
					</a>
				</div>
			</div>
		</div>
		<!-- MENTORING CARD -->
		<div class="col-span-2 m-4 p-1 rounded-2xl bg-gray-50">
			<div class="p-4 rounded-[calc(1rem-4px)] h-full">
				<div class="flex h-min-content pt-2 pb-5 px-3">
					<div class="flex-1">
						<h2 class="text-3xl font-semibold opacity-90">Mentoring</h2>
						<p class="mt-1 text-sm font-normal opacity-40">For coders and digital specialists</p>
					</div>
				</div>
				<div class="px-3 pb-4">
					<p class="text-sm opacity-90 font-normal pb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit assumenda amet omnis dicta, dolore ducimus obcaecati ex aperiam fugiat eius rem aut corrupti autem eaque magnam minima vitae ab facilis!</p>
					<a class="text-link text-blue-500" href="https://cal.com/apalevich/" target="_blank" aria-label="Open in new tab">Book a call</a> /
					<a class="text-link text-blue-500" href="https://t.me/apalevich" target="_blank" aria-label="Open in new tab">Telegram</a>
				</div>
			</div>
		</div>
		<!-- GPTS CARD -->
		<div class="col-span-2 lg:col-span-1 m-4 p-1 rounded-2xl bg-gray-50">
			<div class="p-4 rounded-[calc(1rem-4px)] h-full">
				<div class="flex h-min-content pt-2 pb-5 px-3">
					<div class="flex-1">
						<h2 class="text-xl font-semibold opacity-90">GPTs</h2>
						<p class="mt-1 text-sm font-normal opacity-40">Free AI tools for daily tasks</p>
					</div>
				</div>
				<div class="px-3 pb-1 flex flex-col justify-between">
					<p class="text-sm opacity-90 font-normal pb-4">As a certified "Prompt Engineering for&nbsp;Developers" graduate from DeepMind and OpenAI, I offer top-notch GPT development services. Explore my works and see the difference.</p>
					<div class="py-2">
						<a href="https://chatgpt.com/g/g-KooXIFy35-prompt-self-improver" target="_blank" class="flex">
							<div class="appicon bg-[url('/icon_gpt_selfhelp.png')]"></div>
							<div class="ml-3">
								<div class="text-black opacity-90 text-sm font-normal">Prompt Improver</div>
								<div class="pt-1 text-xs opacity-50">Expertly crafted prompts, refined and optimized through iterative processes.</div>
							</div>
						</a>
					</div>
					<div class="py-2">
						<a href="https://chatgpt.com/g/g-cJSZxVAGo-book-quotes-analyzer" target="_blank" class="flex">
							<div class="appicon bg-[url('/icon_gpt_book.png')]"></div>
							<div class="ml-3">
								<div class="text-black opacity-90 text-sm font-normal">Book Quotes Analyzer</div>
								<div class="pt-1 text-xs opacity-50">A literary analyst tool that summarizes books using provided quotes.</div>
							</div>
						</a>
					</div>
					<div class="py-2">
						<a href="https://chatgpt.com/g/g-Kwd9HEBG2-code-mate" target="_blank" class="flex">
							<div class="appicon bg-[url('/icon_gpt_mate.png')] "></div>
							<div class="ml-3">
								<div class="text-black opacity-90 text-sm font-normal">MATE: AI Code Review</div>
								<div class="pt-1 text-xs opacity-50">Your trusted AI-powered senior co-worker for code reviews.</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- // BANNER -->
	<div
		class="w-full bg-black text-white bg-war bg-cover bg-center py-4"
		style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url('/war_banner_l.jpeg')"	
	>
		<div class="container flex flex-col md:flex-row p-6 gap-4">
			<div class="uppercase text-3xl font-extrabold">Идёт война</div>
			<div>
				<p class="opacity-90">I am a citizen of Russia and it's I take my responsibility. If you have a project that helps to stop war in Ukraine or weaken the Putin's regime, I am ready to volunteer.</p>
			</div>
			<div>
				<a class="bg-blue-500 py-2 px-3" href="https://t.me/apalevich" target="_blank" aria-label="Open in new tab">Telegram</a>
				<a class="border-2 border-blue-500 py-2 px-3 ml-3" href="https://cal.com/apalevich/" target="_blank" aria-label="Open in new tab">Schedule a videocall</a>
			</div>
		</div>
	</div>
	
	<!-- FOOTER -->
	<!-- <footer>
		<div class="container flex justify-center text-3xl">
			<a href="">👌</a>
			<a href="">❗️</a>
			<a href="">➡️</a>
		</div>
		<div class="container"></div>
	</footer> -->

	<footer class="relative flex flex-col items-center overflow-hidden bg-gray-50 dark:bg-gray-900 py-20 md:py-40">
	<div class="container relative z-[1] m-auto px-6 md:px-12">
		<div class="m-auto md:w-10/12 lg:w-8/12 xl:w-6/12">
		<div class="flex flex-wrap items-center justify-between md:flex-nowrap">
			<div
			class="flex w-full justify-center space-x-12 text-gray-600 dark:text-gray-300 sm:w-7/12 md:justify-start"
			>
			<ul class="space-y-8">
				<li><a href="/" class="transition hover:text-primary">🔼 Back to top</a></li>
				<!-- <li><a href="#" class="transition hover:text-primary">Contact</a></li> -->
			</ul>

			<ul role="list" class="space-y-8">
				<li>
				<a href="https://github.com/apalevich" target="_blank" class="flex items-center space-x-3 transition hover:text-primary">
					<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="currentColor"
					class="w-5"
					viewBox="0 0 16 16"
					>
					<path
						d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
					/>
					</svg>
					<span>Github</span>
				</a>
				</li>
				<li>
				<a href="https://x.com/apalevich" target="_blank" class="flex items-center space-x-3 transition hover:text-primary">
					<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="currentColor"
					class="w-5"
					viewBox="0 0 16 16"
					>
					<path
						d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
					/>
					</svg>
					<span>Twitter</span>
				</a>
				</li>

				<li>
				<a href="https://www.facebook.com/artyompalevich/" target="_blank" class="flex items-center space-x-3 transition hover:text-primary">
					<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="currentColor"
					class="w-5"
					viewBox="0 0 16 16"
					>
					<path
						d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"
					/>
					</svg>
					<span>Facebook</span>
				</a>
				</li>
				<li>
				<a href="https://instagram.com/apalevich" target="_blank" class="flex items-center space-x-3 transition hover:text-primary">
					<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="currentColor"
					class="w-5"
					viewBox="0 0 16 16"
					>
					<path
						d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"
					/>
					</svg>
					<span>Instagram</span>
				</a>
				</li>
			</ul>
			</div>
			<div
			class="m-auto mt-16 w-10/12 space-y-6 text-center sm:mt-auto sm:w-5/12 sm:text-left"
			>
			<p class="block text-gray-500 dark:text-gray-400">
				All text and media belongs to their&nbsp;authors<br>
				<span class="mt-4 block text-gray-500 dark:text-gray-400 text-xs uppercase">
					Photo on banner: Roman Baluk / the&nbsp;Collection of&nbsp;war.ukraine.ua
				</span>
			</p>

			<span class="block text-gray-500 dark:text-gray-400">
				<span>&copy; Artem Palevich 2023 - <span id="year">{new Date().getFullYear()}</span> </span>
			</span>
			</div>
		</div>
		</div>
	</div>
	</footer>	
</Layout>