:root {
    --dark: #1E2124;
    --white: #fff6fa;
    --black: #000;
    --gradient1: #013780;
    --gradient2: #CA05B4;
}

/* Base styles for mobile */
body {
    margin: 0;
    padding: 16px 0 0;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    /* background-color: var(--dark); */
    /* background: rgb(24,34,130); */
    /* background: radial-gradient(circle, rgba(24,34,130,1) 0%, rgba(3,4,13,1) 97%); */
    /* color: var(--white); */
    /* font-family: 'PT Mono', monospace; */
}

p, label {
    font-size: 1.1em;
}

body>* {
    padding: 0 20px;
}

/* HEADER */

header {
    display: flex;
    justify-content: center;
}

button {
    border: none;
    padding: 10px 20px;
    margin: 5px;
}

.button {
    display: block;
    padding: 10px;
    background: lightgray;
    text-align: center;
    border-radius: 5px;
    color: var(--dark);
    text-decoration: none;
    line-height: 25px;
}

header .button {
    display: none;
}

svg {
    margin: 24px 0;
}

/* HERO */

h1 {
    font-size: 4rem;
    margin: 8px 0;
}

h2 {
    margin: 60px 0 24px;
    font-weight: 300;
}

h3 {
    font-size: 2em;
    margin-top: 64px;
}

.text-bold {
    font-weight: 700;
}

.text-gradient {
    background: linear-gradient(-135deg, var(--gradient1), var(--gradient2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-medium {
    font-weight: 400;
}

.text-italic {
    font-style: italic;
}

.hero button {
    margin: 24px;
}

.bg-gradient {
    background: linear-gradient(135deg, var(--gradient1), var(--gradient2));
    color: var(--white);
}

.border-rounded {
    border-radius: 5px;
    padding: 20px 5px;
    margin: 5px 0;
    cursor: pointer;
    font-weight: 300;
    font-size: 1.1em;
}

/* FEATURES */

.features {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    gap: 16px;
    /* padding: 40px 20px 0; */
}

.feature_card {
    background-color: transparent;
    border-radius: 5px;
    border: 1px grey solid;
    padding: 20px 52px;
    margin: 10px 0;
    text-align: center;
}

.feature_card h4 {
    font-size: 24px;
    margin: 10px 0;
    text-transform: uppercase;
}

/* APPLY SECTION */

.apply-container {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 0 10px;
}

/* FOOTER */

footer {
    background-color: var(--dark);
    color: gray;
    padding: 20px;
    text-align: justify;
    font-size: 12px;
}

/* Media Queries for Tablet */
@media screen and (min-width: 768px) {
    body {
        padding: 0;
    }

    body>* {
        padding: 0 24px;
    }

    header {
        padding: 0 20px;
        background-color: transparent;
        /* padding: 10px 20px; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero .border-rounded {
        margin: 5px auto;
        max-width: 50%;
    }

    svg {
        /* margin-top: 8px; */
    }

    h1 {
        margin: 24px 0;
    }

    h2 {
        font-size: 21px;
    }

    .features {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .feature_card {
        width: 25%;
            margin: 10px 0;
    }

    .apply-container {
        padding: 40px 80px;
    }

    .form-container {
        display: flex;
        flex-direction: row;
        /* flex-wrap: nowrap; */
    }

    .form-container>* {
        flex-basis: 50%;
        margin: auto 0;
        padding: 0 8px;
        text-align: right;
    }

    .form-container p {
        font-size: 2em;
        max-width: 98%;
        margin: 0 auto;
    }

    .form-container form {
        text-align: center;
    }

    footer {
        padding: 20px;
    }
}

/* Media Queries for Desktop */
@media screen and (min-width: 1024px) {
    body > * {
        max-width: 1024px;
        margin: auto;
    }

    header {
        justify-content: space-between;
        padding: 0px 32px;
    }

    header .button {
        display: block;
        padding: 20px 0px;
        background-color: transparent;
    }

    .hero {
        padding: 80px 80px 40px;
        box-sizing: border-box;
    }

    h2 {
        margin-top: 80px;
    }

    .features {
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .feature_card {
        width: 30%;
        margin: 20px;
    }

    .apply-container {
        padding-bottom: 80px;
    }

    .form-container p {
        font-size: 2em;
        max-width: 65%;
        margin: 0 auto;
    }

    footer {
        padding: 40px 80px;
        max-width: none;
    }
}