---
const pageTitle = 'A. Palevich — personal site'
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="generator" content={Astro.generator} />
		<meta charset="UTF-8">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&display=swap" rel="stylesheet">
		<title>{pageTitle}</title>
	</head>
	<body class="bg-[#dddcd8] text-white">
		<div class="w-full bg-dark">HEADER</div>
		<div class="grid gap-2 grid-cols-3 py-4 px-1">
			<div class="border-dark border-2 col-span-2 p-2 rounded-xl">PRODUCTS</div>
			<div class="border-dark border-2 col-span-1 p-2 rounded-xl">LIBRARY</div>
		</div>
		<div class="w-full bg-dark">ANTIWAR BANNER</div>
		<div class="w-full">
			Footer
			<ul class="text-sm">
				<li>link1</li>
				<li>link2</li>
				<li>link3</li>
				<li>link4</li>
				<li>link5</li>
			</ul>
		</div>
	</body>
</html>
