---
const pageTitle = 'A. Palevich — personal site'
---



<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="generator" content={Astro.generator} />
		<meta charset="UTF-8">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&display=swap" rel="stylesheet">
		<title>{pageTitle}</title>
		<style>
			a {
				-webkit-animation: glow 1s ease-in-out infinite alternate;
				-moz-animation: glow 1s ease-in-out infinite alternate;
				animation: glow 5s ease-in-out infinite alternate;
			}

			@keyframes glow {
				from {
					text-shadow: 0 0 0px theme(colors.white), 0 0 5px #fff, 0 0 10px theme(colors.gradient1), 0 0 15px theme(colors.gradient1);
				}
				to {
					text-shadow: 0 0 10px theme(colors.white), 0 0 15px theme(colors.gradient2), 0 0 20px theme(colors.gradient2), 0 0 25px theme(colors.gradient2);
				}
			}
		</style>
	</head>
	<body class="bg-[#1E2124] text-white">
		<div class="flex h-screen justify-evenly items-center overflow-hidden flex-col">
			<h1 class="text-4xl">Coming soon.</h1>
    		<div><a href="mate.html">Looking for MATE? ➡️</a></div>
		</div>
	</body>
</html>
