---
import Logo from '../components/Logo.astro';
import '../base.css';
---
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="MATE, the Mentorship and AI Technology Enhancer, is an AI-based companion for code review and development. MATE combines the wisdom of experienced mentors with the power of cutting-edge AI technology to provide you with unmatched insights into your code.">
    <title>MATE — Mentorship and AI Technology Enhancer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&display=swap" rel="stylesheet">
</head>



<body class="font-sans">
    <header>
        <input type="checkbox" name="hbr" id="hbr" class="hbr peer" hidden aria-hidden="true">
        <nav class="fixed z-20 w-full dark:bg-gray-900/80 backdrop-blur navbar shadow-2xl shadow-gray-600/5 border-b border-gray-100 dark:border-gray-800 peer-checked:navbar-active dark:shadow-none">
            <div class="xl:container m-auto px-6 md:px-12 lg:px-6">
                <div class="flex flex-wrap items-center justify-between gap-6 md:py-3 md:gap-0 lg:py-5">
                    <div class="w-full items-center flex justify-between lg:w-auto">
                        <a class="relative z-10 px-6" href="#" aria-label="logo">
                            <Logo />
                        </a>
                        <label for="hbr" class="peer-checked:hamburger block relative z-20 p-6 -mr-6 cursor-pointer lg:hidden">
                            <div aria-hidden="true" class="m-auto h-0.5 w-5 rounded bg-gray-900 dark:bg-gray-300 transition duration-300"></div>
                            <div aria-hidden="true" class="m-auto mt-2 h-0.5 w-5 rounded bg-gray-900 dark:bg-gray-300 transition duration-300"></div>
                        </label>
                    </div>
                    <div class="navmenu hidden w-full flex-wrap justify-end items-center mb-16 space-y-8 p-6 border border-gray-100 rounded-3xl shadow-2xl shadow-gray-300/20 bg-white dark:bg-gray-800 lg:space-y-0 lg:p-0 lg:m-0 lg:flex md:flex-nowrap lg:bg-transparent lg:w-7/12 lg:shadow-none dark:shadow-none dark:border-gray-700 lg:border-0">
                        <div class="text-gray-600 dark:text-gray-300 lg:pr-4">
                            <ul class="space-y-6 tracking-wide font-medium text-base lg:text-sm lg:flex lg:space-y-0">
                                <li>
                                    <a href="#" class="block md:px-4 transition hover:text-primary dark:hover:text-primaryLight">
                                        <span>Home</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="block md:px-4 transition hover:text-primary dark:hover:text-primaryLight">
                                        <span>Portfolio</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="block md:px-4 transition hover:text-primary dark:hover:text-primaryLight">
                                        <span>Services</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="w-full space-y-2 border-primary/10 dark:border-gray-700 flex flex-col -ml-1 sm:flex-row lg:space-y-0 md:w-max lg:border-l">
                            <a href="#" class="relative flex h-9 ml-auto items-center justify-center sm:px-6 before:absolute before:inset-0 before:rounded-full focus:before:bg-primary/10 dark:focus:before:bg-primaryLight/10 before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95">
                                <span class="relative text-sm font-semibold text-primary dark:text-primaryLight">Sign Up</span>                    
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="relative pt-40 pb-20 lg:pt-44">
        <div class="relative xl:container m-auto px-6 md:px-12 lg:px-6 sm:w-10/12 md:w-2/3 sm:mx-auto lg:w-6/12">
            <h1 class="sm:mx-auto sm:w-10/12 md:w-2/3 font-black text-blue-900 text-4xl text-center sm:text-5xl md:text-6xl lg:w-auto xl:text-7xl dark:text-white">Run successful remote and <br class="lg:block hidden"> <span class="relative text-transparent bg-clip-text bg-gradient-to-r from-gradient1 to-gradient2 dark:from-primaryLight dark:to-secondaryLight">Hybrid teams</span>.</h1>
            <div class="relative mt-8 lg:mt-16 space-y-8 w-10/12 xl:w-6/12 mx-auto text-center">
                <p class="sm:text-lg text-gray-700 dark:text-gray-300">
                    DailyBot takes chat and collaboration to the next level: daily standups, team check-ins, surveys, kudos, best companion bot for your virtual watercooler, 1:1 intros, motivation tracking and more.
                </p>
                <!-- <span class="block font-semibold text-gray-500 dark:text-gray-400">The best companion bot for your chat app.</span> -->
            </div>
        </div>
        <div class="pt-12 lg:hidden">
            <div class="relative w-screen h-[600px] bg-cover" style="background-image: url(/code-screenshot.png); ba">
                <img src="/mate-screenshot.png" class="border-black-900 border-2 rounded-[6px] w-auto max-h-[600px] absolute inset-y-[-1rem] right-0" alt="mate illustration" loading="lazy">
            </div>
        </div>
        <div class="mt-16 max-md:hidden flex justify-around items-center xl:container mx-auto">
            <img src="/code-screenshot.png" class="border-black-900 border-2 rounded-[6px] w-auto max-h-[600px]" alt="mate illustration" loading="lazy">
            <div class="text-5xl">➡️</div>
            <img src="/mate-screenshot.png" class="border-black-900 border-2 rounded-[6px] w-auto max-h-[600px]" alt="mate illustration" loading="lazy">
        </div>
    </div>

    <div class="py-16">
        <div class="xl:container m-auto px-6 text-gray-500 md:px-12">
          <div>
            <h2 class="mt-4 text-2xl font-bold text-gray-700 dark:text-white md:text-4xl">
              A technology-first approach to payments <br class="lg:block" hidden />
              and finance
            </h2>
          </div>
          <div class="mt-16 grid divide-x divide-y divide-gray-100 dark:divide-gray-700 overflow-hidden rounded-3xl border border-gray-100 dark:border-gray-700 sm:grid-cols-2 lg:grid-cols-4 lg:divide-y-0 xl:grid-cols-4">
            <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
              <div class="relative space-y-8 py-12 p-8">
                <img
                  src="/public/"
                  class="w-12"
                  width="512"
                  height="512"
                  alt="burger illustration"
                />
      
                <div class="space-y-2">
                  <h5
                    class="text-xl font-medium text-gray-700 dark:text-white transition group-hover:text-primary"
                  >
                    First feature
                  </h5>
                  <p class="text-sm text-gray-600 dark:text-gray-300">
                    Neque Dolor, fugiat non cum doloribus aperiam voluptates nostrum.
                  </p>
                </div>
                <a href="#" class="flex items-center justify-between group-hover:text-primary">
                  <span class="text-sm">Read more</span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
                    <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
                  </svg>                
                </a>
              </div>
            </div>
            <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
              <div class="relative space-y-8 py-12 p-8">
                <img
                  src="https://cdn-icons-png.flaticon.com/512/4341/4341134.png"
                  class="w-12"
                  width="512"
                  height="512"
                  alt="burger illustration"
                />
      
                <div class="space-y-2">
                  <h5
                    class="text-xl font-medium text-gray-700 dark:text-white transition group-hover:text-primary"
                  >
                    Second feature
                  </h5>
                  <p class="text-sm text-gray-600 dark:text-gray-300">
                    Neque Dolor, fugiat non cum doloribus aperiam voluptates nostrum.
                  </p>
                </div>
                <a href="#" class="flex items-center justify-between group-hover:text-primary">
                  <span class="text-sm">Read more</span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
                    <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
                  </svg>                
                </a>
              </div>
            </div>
            <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
              <div class="relative space-y-8 py-12 p-8">
                <img
                  src="https://cdn-icons-png.flaticon.com/512/4341/4341160.png"
                  class="w-12"
                  width="512"
                  height="512"
                  alt="burger illustration"
                />
      
                <div class="space-y-2">
                  <h5
                    class="text-xl font-medium text-gray-700 dark:text-white transition group-hover:text-primary"
                  >
                    Third feature
                  </h5>
                  <p class="text-sm text-gray-600 dark:text-gray-300">
                    Neque Dolor, fugiat non cum doloribus aperiam voluptates nostrum.
                  </p>
                </div>
                <a href="#" class="flex items-center justify-between group-hover:text-primary">
                  <span class="text-sm">Read more</span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
                    <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
                  </svg>                
                </a>
              </div>
            </div>
            <div
              class="group relative bg-gray-50 dark:bg-gray-900 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
            >
              <div
                class="relative space-y-8 py-12 p-8 transition duration-300 group-hover:bg-white dark:group-hover:bg-gray-800"
              >
                <img
                  src="https://cdn-icons-png.flaticon.com/512/4341/4341025.png"
                  class="w-12"
                  width="512"
                  height="512"
                  alt="burger illustration"
                />
      
                <div class="space-y-2">
                  <h5
                    class="text-xl font-medium text-gray-700 dark:text-white transition group-hover:text-primary"
                  >
                    More features
                  </h5>
                  <p class="text-sm text-gray-600 dark:text-gray-300">
                    Neque Dolor, fugiat non cum doloribus aperiam voluptates nostrum.
                  </p>
                </div>
                <a href="#" class="flex items-center justify-between group-hover:text-primary">
                  <span class="text-sm">Read more</span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
                    <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>